
.backlog-toolbar{
    display: table;
    width: 100%;

    &-inner{display: table-row}


    .states{
        display: table-cell; 
        vertical-align: top;    
        text-align: right;
        min-width: 75px;
    }
} 

.backlog-search{
    display: table-cell;
    position: relative;
    width: 100%;

    .fa-search {
        position: absolute;
        top: 4px;
        pointer-events: none;
    }

    input{
        float:left;
        text-indent: 30px;
        border: transparent;
        margin-bottom: 5px;
        margin-top: -7px;

        &:focus{border-bottom: 2px solid white;}
    }
}

.backlog-list {
    max-height: calc(90vh - 1em - 2em - 40px - 6em);
    max-height: calc(90vh - 1em - 2em - 6em);
    overflow-y: auto;

    @include bp($bp-nav){
        max-height: calc(90vh - 1em - 2em - 40px - 6em);
    }
}


 .backlog {
     transition: opacity .2s;

    @include bp($screen-lg){
        padding-right: 35px;
    }
    @include bp($screen-lg, max){
        .backlog-form-open &{
            opacity: 0;
        }
    }
 }

.backlog-form-open{
    .btn-fab{display: none;}
}

.backlog-form{
	@include bp($screen-lg, max){
        @include abs();
        bottom: auto;
        opacity: 0;
        padding: 20px 30px;
        z-index: -10;
        overflow-y: auto;
        transition: opacity .2s;

        &-open &{
            z-index: 10;
            opacity: 1;
        }
	}
}

