

chart {
    height: calc(80vh - 3.75em);
    cursor: pointer;
    display: block;
    position: relative;
    display: block;
	margin-left: -15px;

    @media (max-width:$bp-nav), (max-height:660px){
        height: calc(100vh - 3.75em - (100px));
    }
    
    @include bp($bp-nav){
        height: calc(80vh - 3.75em - 5vh);
    }
    @media (min-width:$bp-nav), (min-height:660px){
        height: calc(80vh - 3.75em - (2*50px));
    }
     
     
    ::selection {
        background: none;
    }
} 

