

.graph{
    padding: 3em;
    padding-top: 4em;
    height: calc(80vh - 3.75em);
    max-width: 1300px;
    cursor: pointer;
    
    @include bp($bp-xs, max){
        padding: 2em;
        padding-top: 4em;
        padding-left: 5px;
    }
    
    
    @media (max-width:$bp-nav), (max-height:660px){
        height: calc(100vh - 3.75em - (100px));
    }
    
    @include bp($bp-nav){
        height: calc(80vh - 3.75em - 5vh);
    }
    @media (min-width:$bp-nav), (min-height:660px){
        height: calc(80vh - 3.75em - (2*50px));
    }
     
     
    ::selection {
        background: none;
    }

    img{
        max-width: 50%;
        height: auto;
    }
}