
.page-container{
    @include abs();
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.body-container {
    padding: 1.5em 20px;

    @include bp(600px){
        padding: 2em 4em;
    }
}

.row-container{
	padding-right: 15px;
    padding-left: 15px;
}

.main{
    background: #000;
    background-image: $purple-gradient;
    transition: all .3s;
    
    @include abs();
    
    @include bp($bp-nav){
        left: $side-width;
    }
    
    &-inner{
        @include abs(); 
        z-index: 2;
    }
    
    @include bp($bp-nav, max){
        .page-container.open & {
            left: $side-width;
            right: -$side-width;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
        }
    }
}


.footer {
    @include abs(auto,0,0,0);
    z-index: 10;
}
