
backlog-item {
    display: block;

    &.active {
        .backlog-item{box-shadow: inset 0px 0px 0px 2px $brand-primary;}
    }
}

.backlog-item {
    background-color: rgba(white,0.98);
    border-radius: 2px;
    color:$black;
    display: table;
    width: 100%;
    padding: 7px 10px;
    margin-bottom: 4px;

    &-inner{
        display: table-row; 
    }
    

    .thumb-container{
        display: table-cell;
        min-width: 35px;
    }
    .backlog-body{
        display: table-cell;
        padding: 0 10px;
        width: 100%;
        color: #2b2b2b;
        vertical-align: middle;
    }
    .backlog-point{
        display: table-cell;
    }

    .sortable-ghost &{
        background: transparent;
        box-shadow: none!important;
        border: 2px dotted rgba(255,255,255, 0.55);

        *{
            opacity:0
        }
    }
}


.sortable-handle{
    cursor: move;
}

