

.list-bi{

    &-item{
        background-color: rgba(white,0.98);
        border-radius: 2px;
        color:$black;
        display: table;
        width: 100%;
        padding: 7px 10px;
	    margin-bottom: 4px;

        &-inner{
            display: table-row;
        }

        .thumb-container{
            display: table-cell;
            min-width: 35px;
        }
        .bi-body{
            display: table-cell;
            padding: 0 10px;
            width: 100%;
	        font-weight: 600;
            color: #2b2b2b;
        }
        .bi-point{
            display: table-cell;
        }
    }

    &-sprint{
        background-color: transparent;
        padding: 20px 0 5px 0;

        .thumb-container {
            display: none;
        }
        .badge {
            background: none;
            padding: 0;
        }
        .bi-body {
            padding: 0;
            color: white;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}


[ng-sortable] > * {
    cursor: move;
}