
.header {
    margin-top: 10vh;
    font-size: .7em;
    
    @include bp(600px){
        font-size: 1em;
    }
}

.nav-toggle {
    display: inline-block;
    margin-top: .3em;
    margin-right: 20px;
    position: absolute;
    left: $side-width;
    top: 10vh;
    z-index: 999;
    transition: left .3s;

    @include bp(960px, max){
        left: $side-width-xs;
    } 

    @include bp($bp-nav, max){
        .page-container:not(.open) & {
            left: 0;
        }
    }

    @include bp(600px, max){
        font-size: .72em;
    }
    
    span {
        display: block;
        height: 0.4em;
        background: $brand-primary-lighter;
        width: 40px;
        margin-top: .66em;

        @include bp($bp-nav, max){
            width: ($nav-toggle-gutter-xs - 10);
        }
    }
}

