
.header {
    margin-top: 10vh;
    font-size: .7em;
    
    @include bp(600px){
        font-size: 1em;
    }
}

.nav-toggle {
    display: inline-block;
    float: left;
    margin-top: .3em;
    margin-right: 20px;
    
    span {
        display: block;
        height: 0.4em;
        background: $brand-primary-lighter;
        width: 3em;
        margin-top: .66em;
    }
}

