
.footer{
   background: rgba(12,17,58,0.68);
   height: 50px;
   overflow: hidden;
   
   @media (min-width:$bp-nav), (min-height:660px){
       background-color: transparent;
       height: auto;
   }
}

.stats{
    @include clearfix;
    max-width: 1200px;
    margin-bottom: 4vh;
    padding: 20px;
    
    @include bp($bp-nav, max){
        padding: 0 20px;
        margin-bottom: 0;
    }
}


.stat-small{
    line-height: 50px;
    height: 50px;
    display: inline-block;
    width: 100%;
    
    @media (min-width:$bp-nav), (min-height:660px){
        display: none;
    }
}

.stats-group{
    display: block;
    float: left;
    width: 25%;
    position: relative;
    text-align: center;
    
    &:after{
        content: "";
        width: 2px;
        background: rgba(white, .25);
        @include abs(20px, 0, 20px, auto);
    }
    
    &:last-of-type:after{
        display: none;
    }
    
    @media (max-width:$bp-nav), (max-height:660px){
        min-height: 90px;
        width: 50%;
        font-size: .8em;
        
        &:nth-child(odd):after {
            display: none;
        }
    }
}


.stat{
    font-weight: 900;
    font-size: 3em;
    display: inline-block;
    width: 100%;
    
    small{
        font-weight: 700;
        font-size: 50%;
        display: inline-block;
        margin-left: 5px;
    }
}