
.state{
    @include size(13px);
    display: inline-block;
    border-radius: 30px;
}


$state-list:
    3   done            $color-done,
    1   approved        $color-approved,
    0   new             $color-new,
    -1  removed         $color-removed,
;

 @each $state in $state-list {
    $id:        nth($state, 1);
    $name:    nth($state, 2);
    $bg-color:    nth($state, 3);

    .state-#{$name}, .state-#{$id}{ 
        background-color: $bg-color;

        .active &, 
        &.active,
        input[type=radio]:checked+span &{
            box-shadow: 0px 0px 6px 0px rgba($bg-color,0.83), 
                        0px 2px 4px 0px rgba(0,0,0,0.30);
            border: 1.5px solid #fff;
        }
    }

    
 } 

.thumb .state{
    position: absolute;
    left: -4px;
    top: 0;
}