
<div class="row">
    <div class="col-md-9">
        <label for="">Title</label>
        <input type="text" ng-model="$ctrl.item.name" class="form-control form-lg">
    </div>
    <div class="col-md-3">
        <label for="">SP</label>
        <input type="number" ng-model="$ctrl.item.effort" class="form-control form-lg" min="0">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label for="">Description</label>
        <textarea rows="4" class="form-control" cols="50" ng-model="$ctrl.item.description"></textarea>
        <div class="attachment-actions">
            <a href="#" ng-click="$ctrl.selectFiles()"><span class="fa fa-paperclip"></span></a>
        </div>
    </div>
</div>
<div class="row" ng-show="$ctrl.attachments.length > 0">
    <div class="col-md-12">
        <label>Attachments</label>
        
        <div class="attachment-list">
            <a class="attachment" ng-repeat="a in $ctrl.attachments" ng-class="{'uploading': a.state == 1}"  ng-href="{{a.url}}" target="_blank" title="{{a.name}}">
                <div class="upload-progress">
                    <div class="upload-progress-inner" ng-style="{'right': (100 - a.progress) + '%' }"></div>
                </div>
                <span class="filename">{{a.name}}</span>
                <span class="mimetype"><span class="fa" ng-class="$ctrl.getFileIcon(a)"></span> {{$ctrl.getFileExtention(a) | uppercase}}</span>
                <span href="#" ng-click="$ctrl.removeAttachment(a, $event)" class="fa fa-times remove-attachment" ng-show="a.state == 0"></span>
            </a>
        </div>
    </div>
</div>
<div class="row" ng-show="$ctrl.item.state == '3'">
    <div class="col-md-12">
        <label for="">Resolved on</label>
        <input type="text" rows="4" class="form-control" ng-model="$ctrl.item.resolvedOn"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label for="">Sprint</label>
        <select class="form-control form-lg" ng-model="$ctrl.item.sprint">            
            <option value="">No sprint</option>
            <option ng-repeat="sprint in $ctrl.sprints" value="{{sprint.$id}}">{{sprint.name}}</option>
        </select>
    </div> 
</div>
<div class="row radio-states">
    <div class="col-md-12">
        <span class="label">status</span>
        <br>
        <label class="checkbox-inline">
            <input type="radio" name="state" value="3" ng-model="$ctrl.item.state">
            <span><span class="state state-done"></span> Done</span>
        </label>
        <label class="checkbox-inline">
            <input type="radio" name="state" value="1" ng-model="$ctrl.item.state">
            <span><span class="state state-approved"></span> Approved</span>
        </label>
        <label class="checkbox-inline">
            <input type="radio" name="state" value="0" checked ng-model="$ctrl.item.state">
            <span><span class="state state-new"></span> New</span>
        </label>
        <label class="checkbox-inline">
            <input type="radio" name="state" value="4" ng-model="$ctrl.item.state"> 
            <span><span class="state state-removed"></span> Removed</span>
        </label> 
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br>
        <a class="btn btn-primary" ng-click="$ctrl.onSave()">Save</a>
        <a class="btn btn-danger btn-cirlce" ng-click="$ctrl.onDelete()"><span class="fa fa-trash-o"></span></a>
        <!--<a class="btn btn-primary" ng-click="$ctrl.onAdd()">New...</a>        -->
        <!--<a class="btn btn-danger" ng-click="$ctrl.onDelete()">Delete</a>-->
    </div>
</div>