<div class="main-inner">
	<div class="header">
		<h1 class="page-title type">
			<!--{{$ctrl.title}} for preview --> Retro
			<span class="page-title-back"><!--{{$ctrl.backTitle}} for preview --> afspraken</span>
		</h1>
	</div>


	<div class="retro-body-container">
        <div class="retro-inner-container">
            <div class="sprint-container"> 
                <h2 class="sprint-title">Sprint 20</h2>
                <retro-item class="ng-isolate-scope"><article class="retro-item">	
        <h3 class="author-name">Naam auteur</h3>
        <p class="retro-message ng-binding">{{$ctrl.item.name}}</p>
    </article> </retro-item><retro-item class="ng-isolate-scope"><article class="retro-item">	
        <h3 class="author-name">Naam auteur</h3>
        <p class="retro-message ng-binding">{{$ctrl.item.name}}</p>
    </article> </retro-item><retro-item class="ng-isolate-scope"><article class="retro-item">	
        <h3 class="author-name">Naam auteur</h3>
        <p class="retro-message ng-binding">{{$ctrl.item.name}}</p>
    </article> </retro-item><retro-item class="ng-isolate-scope"><article class="retro-item">	
        <h3 class="author-name">Naam auteur</h3>
        <p class="retro-message ng-binding">{{$ctrl.item.name}}</p>
    </article> </retro-item>

            </div><div class="sprint-container"> 
                <h2 class="sprint-title">Sprint 21</h2>
                <retro-item class="ng-isolate-scope"><article class="retro-item">	
        <h3 class="author-name">Naam auteur</h3>
        <p class="retro-message ng-binding">{{$ctrl.item.name}}</p>
    </article> </retro-item>
            </div><div class="sprint-container"> 
                <h2 class="sprint-title">Sprint 22</h2>
                <retro-item class="ng-isolate-scope"><article class="retro-item">	
        <h3 class="author-name">Naam auteur</h3>
        <p class="retro-message ng-binding">{{$ctrl.item.name}}</p>
    </article> </retro-item>
            </div><div class="sprint-container"> 
                <h2 class="sprint-title">Sprint 23</h2>
                <retro-item class="ng-isolate-scope"><article class="retro-item">	
        <h3 class="author-name">Naam auteur</h3>
        <p class="retro-message ng-binding">{{$ctrl.item.name}}</p>
    </article> </retro-item>
            </div><div class="sprint-container"> 
                <h2 class="sprint-title">Sprint 24</h2>
                <retro-item class="ng-isolate-scope"><article class="retro-item">	
        <h3 class="author-name">Naam auteur</h3>
        <p class="retro-message ng-binding">{{$ctrl.item.name}}</p>
    </article> </retro-item>
            </div><div class="sprint-container"> 
                <h2 class="sprint-title">Sprint 25</h2>
                <retro-item class="ng-isolate-scope"><article class="retro-item">	
        <h3 class="author-name">Naam auteur</h3>
        <p class="retro-message ng-binding">{{$ctrl.item.name}}</p>
    </article> </retro-item>
            </div><div class="sprint-container"> 
                <h2 class="sprint-title">Sprint 26</h2>
                <retro-item class="ng-isolate-scope"><article class="retro-item">	
        <h3 class="author-name">Naam auteur</h3>
        <p class="retro-message ng-binding">{{$ctrl.item.name}}</p>
    </article> </retro-item>
            </div><div class="sprint-container"> 
                <h2 class="sprint-title">Sprint 27</h2>
                <retro-item class="ng-isolate-scope"><article class="retro-item">	
        <h3 class="author-name">Naam auteur</h3>
        <p class="retro-message ng-binding">{{$ctrl.item.name}}</p>
    </article> </retro-item>
            </div><div class="sprint-container"> 
                <h2 class="sprint-title">Sprint 28</h2>
                <retro-item class="ng-isolate-scope"><article class="retro-item">	
        <h3 class="author-name">Naam auteur</h3>
        <p class="retro-message ng-binding">{{$ctrl.item.name}}</p>
    </article> </retro-item>
            </div><div class="sprint-container"> 
                <h2 class="sprint-title">Sprint 29</h2>
                <retro-item class="ng-isolate-scope"><article class="retro-item">	
        <h3 class="author-name">Naam auteur</h3>
        <p class="retro-message ng-binding">{{$ctrl.item.name}}</p>
    </article> </retro-item>
            </div>
        </div>
	</div>
</div>