<div class="main-inner">
    <div class="header">
        <h1 class="page-title type">
            <!--{{$ctrl.title}} for preview -->Retro
            <span class="page-title-back"><!--{{$ctrl.backTitle}} for preview --> afspraken</span>
        </h1>
    </div>


    <div class="retro-body-container">
        <div class="retro-inner-container">
            <div class="sprint-container" ng-repeat="(key, value) in $ctrl.RetroAgreements | groupBy: 'sprint'">
                <h2 class="sprint-title">{{key ? $ctrl.sprints.$getRecord(key).name: "NOT IN SPRINT" | uppercase}}</h2>
                <retro-item class="ng-isolate-scope" ng-repeat="agreement in value" item="agreement"></retro-item>
            </div>
        </div>
    </div>
</div>