<section class="side" ng-class="{'open' : $ctrl.open}">
    <div class="user">
        <span>{{$ctrl.user.email}}</span>
        <br>
        <a ng-click="$ctrl.onSignOut()" href="#/login">Sign out</a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="#/current-sprint" ng-click="$ctrl.open = false">Current sprint</a>
            </li>
            <li>
                <a href="#/" ng-click="$ctrl.open = false">Overview</a>
            </li>
        </ul> 
    </nav>
    <a href="" class="btn btn-primary">Add sprint...</a>
</section>