<section class="side" ng-class="{'open' : $ctrl.open}" ng-init="$ctrl.checkSubscription()">
    <div class="user">
        <span>{{$ctrl.user.email}}</span>
        <br>
        <a ng-click="$ctrl.onSignOut()">Sign out</a>
        <br/>
        <a ng-click="$ctrl.subscribe()" ng-show="!$ctrl.hasSubscription">Notify me</a>
        <a ng-click="$ctrl.unsubscribe()" ng-show="$ctrl.hasSubscription">Stop notifying me</a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/current-sprint" ng-click="$ctrl.open = false"><span class="fa fa-fire"></span>  Current sprint</a>
            </li>
            <li>
                <a href="/" ng-click="$ctrl.open = false"><span class="fa fa-bar-chart-o"></span> Overview</a>
            </li>
            <li>
                <a href="/backlog" ng-click="$ctrl.open = false"><span class="fa fa-list" aria-hidden="true"></span> Backlog</a>
            </li>
        </ul> 
    </nav>
</section>