<div class="main-inner">
	<div class="header">
		<h1 class="page-title type">
			{{$ctrl.title}}
			<span class="page-title-back">{{$ctrl.backTitle}}</span>
		</h1>
	</div>


	<div class="body-container">
		<section class="backlog col-lg-6" ng-class="{'opacity': $ctrl.formOpen}">
			<div class="row">
				<div class="backlog-toolbar">
						<div class="backlog-toolbar-inner">
							<div class="backlog-search">
								<div class="fa fa-search"></div>
								<input type="text" ng-model="filter.name">
							</div>
							<div class="states">
								<a href="" ng-click="$ctrl.filterItems()" class="state state-done" ng-class="{'active': $ctrl.filter.state == $ctrl.state.Done}"></a>
								<a href="" ng-click="$ctrl.filterItems($ctrl.state.Approved)" class="state state-approved" ng-class="{'active': $ctrl.filter.state == $ctrl.state.Approved}"></a>
								<a href="" ng-click="$ctrl.filterItems($ctrl.state.New)" class="state state-new" ng-class="{'active': $ctrl.filter.state == $ctrl.state.New}"></a>
								<a href="" ng-click="$ctrl.filterItems($ctrl.state.Removed)" class="state state-removed" ng-class="{'active': $ctrl.filter.state == $ctrl.state.Removed}"></a>
							</div>
						</div>
				</div>
			</div>

			<div id="SortableList" 
				 class="row list-backlog" 
				 ng-sortable="$ctrl.sortConfig">

				<backlog-item item="BiItem"
							  order="{{BiItem.order}}"
							  on-click="$ctrl.selectItem(BiItem)" 
							  ng-repeat="BiItem in $ctrl.BiItems | filter: filter"
							  ng-class="{'active' : BiItem === $ctrl.selectedItem}">
				</backlog-item>
			</div>
		</section>

		<div class="col-lg-6 backlog-form" ng-class="{'active': $ctrl.formOpen}">
			<backlog-form 
				item="$ctrl.selectedItem" 
				on-add="$ctrl.addItem()" 
				on-delete="$ctrl.deleteItem($ctrl.selectedItem)" 
				on-save="$ctrl.saveItem($ctrl.selectedItem)">
			</backlog-form>
		</div>
	</div>

	<!--<div class="btn btn-primary btn-fab" ng-click="fabActive = !fabActive" ng-class="{'active': fabActive}">
		<span class="fa fa-plus" aria-hidden="true"></span>
	</div>-->

	<div class="btn btn-primary btn-fab" ng-click="$ctrl.addItem()" ng-hide="$ctrl.formOpen">
		<span class="fa fa-plus" aria-hidden="true"></span>
	</div>
</div>